In [101]:
import os, sys, random, json
import pandas as pd
import numpy as np
import psycopg2

In [225]:
# data_preparation.py

def fetch_data_path(cwd):
    
    weather_data_path = os.path.join(cwd, 'wx_data')
    crop_data_path = os.path.join(cwd, 'yld_data')
    return weather_data_path, crop_data_path

def prepare_weather_data(input_path):
    
    filelists = []
    for f in os.listdir(input_path):
        tempdf = pd.read_csv(os.path.join(input_path, f), sep = '\t', names = ['date', 'max_temp', 'min_temp', 'precipitation_amt'])
        station_id = f[:f.index('.')]
        tempdf['station_id'] = station_id
        tempdf['date'] = pd.to_datetime(tempdf.date, format = '%Y%m%d').dt.date
        tempdf['wid'] = tempdf['station_id'] + '_' + tempdf.date.astype(str)
        filelists.append(tempdf)
        
    return pd.concat(filelists, axis=0, ignore_index=True)

def prepare_crop_data(input_path):
    
    for f in os.listdir(input_path):
        df = pd.read_csv(os.path.join(input_path, f), sep= '\t', names= ['year', 'crop_grain_yield'])
        
    return df

In [227]:
weather_data_path, crop_data_path = fetch_data_path(os.getcwd())
weather_df = prepare_weather_data(weather_data_path)
crop_df = prepare_crop_data(crop_data_path)

In [228]:
weather_df

,date,max_temp,min_temp,precipitation_amt,station_id,wid
0,1985-01-01,-22,-128,94,USC00110072,USC00110072_1985-01-01
1,1985-01-02,-122,-217,0,USC00110072,USC00110072_1985-01-02
2,1985-01-03,-106,-244,0,USC00110072,USC00110072_1985-01-03
3,1985-01-04,-56,-189,0,USC00110072,USC00110072_1985-01-04
4,1985-01-05,11,-78,0,USC00110072,USC00110072_1985-01-05
...,...,...,...,...,...,...
1729952,2014-12-27,106,-6,0,USC00339312,USC00339312_2014-12-27
1729953,2014-12-28,128,11,91,USC00339312,USC00339312_2014-12-28
1729954,2014-12-29,33,-56,0,USC00339312,USC00339312_2014-12-29
1729955,2014-12-30,11,-83,0,USC00339312,USC00339312_2014-12-30
1729956,2014-12-31,-11,-106,0,USC00339312,USC00339312_2014-12-31

In [229]:
crop_df.head()

   year  crop_grain_yield
0  1985            225447
1  1986            208944
2  1987            181143
3  1988            125194
4  1989            191320

In [258]:
len(crop_df)

30

In [169]:
# utils.py

from configparser import ConfigParser

# Read Config file
cfg_file = 'config.ini'
config = ConfigParser()
config.read(cfg_file, encoding="utf-8")

# Storing the contents of the config file into respective dictionary variables
db_params = dict(config.items('db_params'))

In [270]:
# database_operations.py

def create_db_conn(**db_params):
    
    conn = psycopg2.connect(
        host = db_params['hostname'], 
        port= db_params['port'], 
        database= db_params['dbname'], 
        user= db_params['username'], 
        password = db_params['password']
    )
    cursor = conn.cursor()
    
    return conn, cursor


def create_weather_data_table(connection, cursor):
    
    create_table = '''
                    CREATE TABLE IF NOT EXISTS weather_data(
                    date DATE NOT NULL,
                    max_temp INTEGER NOT NULL,
                    min_temp NUMERIC NOT NULL,
                    precipitation_amt NUMERIC NULL,
                    station_id NUMERIC NULL,
                    wid TEXT PRIMARY KEY NOT NULL);
                    '''
    cursor.execute(create_table)
    # logging.info("Table created : weather_transformed")
    connection.commit()
    connection.close()

    return None

def create_crop_yield_table(connection, cursor):
    
    create_table = '''
                    CREATE TABLE IF NOT EXISTS crop_yield_data(
                    year NUMERIC NOT NULL,
                    crop_grain_yield NUMERIC NOT NULL);
                   '''
    cursor.execute(create_table)
    # logging
    connection.commit()
    connection.close()
    
    return None

def insert_data_into_db(connection, cursor, table_name, df):
    
    # Convert columns to the best possible dtypes using dtypes supporting pd.NA
    # df = df.convert_dtypes()
    # Define column names for the tables
    column_names = df.columns.tolist()
    
    # Loop through rows of Pandas DataFrame and insert into PostgreSQL table
    for index, row in df[:100].iterrows():
        # Create a tuple of values to insert
        values = tuple(row.values)

        # Check if the row already exists in the database
        sql_query = "SELECT EXISTS (SELECT 1 FROM {} WHERE {})".format(table_name, " AND ".join([f"{column}=%s" for column in column_names]))
        cursor.execute(sql_query, values)
        result = cursor.fetchone()

        # If the row doesn't already exist, insert it
        if not result[0]:
            sql_query = "INSERT INTO {} ({}) VALUES {}".format(table_name, ", ".join(column_names), values)
            cursor.execute(sql_query)

    # Commit changes to the database
    connection.commit()
    cursor.close()
    
    return None

In [271]:
conn, cursor = create_db_conn(**db_params)

In [240]:
create_weather_data_table(conn, cursor)

In [244]:
create_crop_yield_table(conn, cursor)

In [266]:
insert_data_into_db(conn, cursor, 'crop_yield_data', crop_df)

In [272]:
insert_data_into_db(conn, cursor, 'weather_data', weather_df)

InvalidTextRepresentation: invalid input syntax for type numeric: "USC00110072"
LINE 1: ...emp= -128 AND precipitation_amt=94 AND station_id='USC001100...
                                                             ^

In [126]:
conn = psycopg2.connect(host='localhost', port=5432, database='Crop_Weather_ETL', user='postgres', password='M408a1@543')

In [127]:
cursor = conn.cursor()

In [125]:
conn.close()

In [38]:
cursor.execute("INSERT INTO weather_transformed (w_key, temperature_recorded_date, max_temp_in_c, min_temp_in_c, precipitation_CM, region, file_name) \
                   VALUES ('1', '19940203', 42.4, -45.4, 102, 461, 12)");
conn.commit()

In [44]:
path = r'C:/Users/abhij/OneDrive - Indiana University/Interview Coding Tests/Corteva_Data Engineering/code-challenge-template/wx_data/'

In [62]:
csvlist = []
for i in os.listdir(path):
    dfname = 'df' + '_' + str(i)
    dfname = pd.read_csv(os.path.join(path, i), sep='\t', names=['Date', 'max_temp', 'min_temp', 'precipitation_amt'])
    dfname['fname'] = i
    csvlist.append(dfname)
    
df = pd.concat(csvlist, axis=0, ignore_index=True)

In [92]:
df = df.rename(columns={'Date':'date'})

In [142]:
df.head()

       date  max_temp  min_temp  precipitation_amt            fname
0  19850101       -22      -128                 94  USC00110072.txt
1  19850102      -122      -217                  0  USC00110072.txt
2  19850103      -106      -244                  0  USC00110072.txt
3  19850104       -56      -189                  0  USC00110072.txt
4  19850105        11       -78                  0  USC00110072.txt

In [102]:
df.columns.tolist()

['date', 'max_temp', 'min_temp', 'precipitation_amt', 'fname']

In [115]:
# Define PostgreSQL column names
column_names = df.columns.tolist()

# Loop through rows of Pandas DataFrame and insert into PostgreSQL table
for i,row in df[:100].iterrows():
    sql = "INSERT INTO {} ({}) VALUES {} ON CONFLICT DO NOTHING".format('weather_new', ", ".join(column_names), tuple(row))
    cursor.execute(sql);
    
# Commit changes to the database
conn.commit()

In [274]:

column_names = weather_df.columns.tolist()

# Loop through rows of Pandas DataFrame and insert into PostgreSQL table
for index, row in df[:100].iterrows():
    # Create a tuple of values to insert
    values = tuple(row.values)
    
    # Check if the row already exists in the database
    sql = "SELECT EXISTS (SELECT 1 FROM {} WHERE {})".format('weather_data', " AND ".join([f"{column}=%s" for column in column_names]))
    cursor.execute(sql, values)
    result = cursor.fetchone()
    
    # If the row doesn't already exist, insert it
    if not result[0]:
        sql = "INSERT INTO {} ({}) VALUES {}".format('weather_data', ", ".join(column_names), values)
        cursor.execute(sql)

# Commit changes to the database
conn.commit()

IndexError: tuple index out of range

In [122]:
df['date'] = df.date.astype(str)

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1729957 entries, 0 to 1729956
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   date               object
 1   max_temp           int64
 2   min_temp           int64
 3   precipitation_amt  int64
 4   fname              object
dtypes: int64(3), object(2)
memory usage: 66.0+ MB